body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container {
  flex-basis: 400px;
  margin: auto;
  padding: 0 15px;
}

.btn {
  width: 100%;
  margin-top: 30px;
  padding: 12px 20px;
  background-color: var(--secondary-color);
}
.btn:hover {
  color: #fff;
  background-color: #219bb9;
}
.form-text > input:required ~ span::before {
  background-color: var(--quaternary-color);
  color: #fff;
}

.action {
  margin-top: 60px;
  padding-top: 60px;
  border-top: 1px solid #bbb;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.action > a {
  width: unset;
  margin-top: 0px;
  padding: 8px 20px;
}
.to-home-page {
  display: block;
  margin-bottom: 30px;
  text-decoration: none;
  color: var(--primary-color);
  font-size: 18px;
}

.form-checkbox > input {
  margin-top: 36px;
}
.form-header {
  font-size: 2rem;
}

.form-text {
  margin-top: 66px;
}

@media only screen and (max-width: 576px) {
  .form-header {
    margin-bottom: 70px;
  }
  .form-text {
    margin-top: 56px;
  }
  .action {
    margin-top: 40px;
    padding-top: 40px;
  }
}
@media only screen and (max-width: 348px) {
  .form-header {
    margin-bottom: 60px;
  }
  .form-text {
    margin-top: 36px;
  }
}
