<header class="header">
    <div class="header__top container">
        <div class="logo-login-cart">
            <!-- Logo -->
            <a href="./cart.html" class="logo-link">
                <h1 class="logo">run youth</h1>
            </a>
            <!-- Sign in and Cart -->
            <div class="login-and-cart">
                <div class="header__login-signup ${sessionScope.login_token}">
                    <!-- Default - when no login -->
                    <ul class="login-default">
                        <li><a class="btn btn-login" href="./login.html">Log in</a></li>
                        <li><a class="btn" href="./register.html">Sign up</a></li>
                        <li><a href="${pageContext.request.contextPath}/admin-login">Admin</a></li>
                    </ul>

                    <!--  -->
                    <div class="entity-preview-info">
                        <a href="./user_info.html" class="img-container"> <img src="../lib/img/avatar/1.jpg" alt=""></a>
                        <p class="entity-name"> Dummi
                            <i class="fas fa-user-cog"></i>
                        </p>
                        <div class="action"><a href="./user_info.html" class="manage-account">Quản lý tài khoản</a></div>
                    </div>

                </div>
                <a href="./cart.html" class="header__cart"> <i class="fas fa-shopping-cart"></i>
                    <p>cart</p> <span class="number-indicator"></span>
                </a>
            </div>

        </div>
        <div class="nav-and-search">

            <!-- Navbar -->
            <nav class="header__nav">
                <ul tab-name="${tabIndicator}">

                    <li><a href="./index.html" class="">home</a></li>
                    <li><a href="./men.html"> men
                            <i class="far fa-laugh-beam"></i>
                        </a></li>
                    <li><a href="./women.html">women
                            <i class="far fa-laugh-wink"></i>
                        </a></li>

                    <li><a href="#">about</a></li>
                    <li><a href="#">contact</a></li>
                </ul>
            </nav>
            <!-- Search form -->
            <div class="header__form-control">
                <form class="wrapper" action="./search.html" method="get">
                    <input type="text" name="product-name" placeholder="Eg: nike">
                    <!--search for information through the website: products, articles, ..-->
                    <button type="submit" class="btn">
                        <i class="fas fa-search"></i>
                    </button>
                    <ul class="drown-drop-result">
                        <li><a href="">Giày sneaker</a></li>
                        <li><a href="">Addidas</a></li>
                        <li><a href="">Niceke</a></li>
                        <li><a href="">Hehehe</a></li>
                    </ul>
                </form>
            </div>
        </div>
    </div>

    <!-- Toggle icon (for menu mobile) -->
    <div class="container menu-toggle-parent">
        <div id="menu-toggle">
            <i class="fas fa-bars"></i>
        </div>
    </div>

    <div class="header__ribbon">
        <div class="header__ribbon__inside">
            <p class="header__ribbon__message conveyor-belt">Giảm giá đến 25%
                cho mùa hè sôi động</p>
        </div>
    </div>
</header>