<header class="header">
	<div class="search-box">
		<form id="searchForm" method="POST" action="">
			<input type="text" name="search" placeholder="Search..." />
			<button class="btn-search"><i class="fas fa-search"></i></button>
		</form>
	</div>
	<div class="top container">
		<ul>
			<li><a href="#">Đăng ký</a></li>
			<li><a href="#">Đăng nhập</a></li>
		</ul>
	</div>
	<div class="bottom container">
		<div class="menu-toggle-container" id="menuToggle">
			<i class="fas fa-bars"></i>
		</div>
		<div class="left"><h1 class="logo">Công's shop</h1></div>
		<div class="center">
			<nav>
				<ul>
					<li><a href="">Nam</a></li>
					<li><a href="">Nữ</a></li>
					<li><a href="">Giới thiệu</a></li>
					<li><a href="">Liên hệ</a></li>
				</ul>
			</nav>
		</div>
		<div class="right">
			<span class="btn-search" id="searchToggle"><i class="fas fa-search"></i></span>
			<div class="cart"><i class="fas fa-shopping-cart"></i></div>
		</div>
	</div>
</header>

<script>
	$("#searchToggle").on("click", function (e) {
		$(".search-box").toggleClass("on");
	});

	$("#menuToggle").on("click", function (e) {
		$(".header > .bottom > .center").toggleClass("on");
	});
</script>
