<aside class="sidebar">
    <h2 class="logo">Run youth</h2>
   <ul class="parent-menu">
      <li>
         <a data-bs-toggle="collapse" href="#sub-menu-1" role="button"
            aria-expanded="false" aria-controls="collapseExample"> <span>manage</span>
         <span class="child-menu__trigger"><i
            class="fas fa-caret-right"></i></span>
         </a>
         <ul class="child-menu collapse collapse px-4" id="sub-menu-1">
            <li><a href="./product_read.html">product</a></li>
            <li><a
               href="./specific_product_read.html">specific
               product</a>
            </li>
            <li><a href="./order_read.html">order</a></li>
         </ul>
      </li>
      <li><a href="./index.html" class="">homepage</a></li>
   </ul>
</aside>